::-webkit-scrollbar {
  display: none;
}


.background-images .backdrop1{
    position: fixed;
    top: -14rem;
    left: -15rem;
    opacity: 50%;
  }
  .background-images .backdrop2{
    position: fixed;
    top: -22rem;
    left: -1rem;
  }
  .background-images .backdrop3{
    position: fixed;
    bottom: -20rem;
    right: -10rem;
    opacity: .5;
  }
  .background-images .backdrop4{
    position: fixed;
    bottom: -14rem;
    right: -20rem;
    opacity: .2;
  }
  
  .background-images .blood-cells{
    position: fixed;
    top: -2rem;
    z-index: -1;
  }